* {
  box-sizing: border-box;
  padding: 0;
}
html {
  size: 16px;
}
header {
  background: linear-gradient(to right, black, red);
  color: white;
  text-align: center;
  padding: 1rem;
}

header p {
  font-size: 1.2rem;
  font-weight: 600;
}

nav {
  background-color: black;
  color: white;
  position: sticky;
  top: 0;
  z-index: 99;
}
nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
nav ul li {
  padding: 10px 25px;
  list-style: none;
  text-transform: capitalize;
  font-weight: 700;

  align-items: center;
}
.search{
    height: 1.5rem;
    width: 1.5rem;
  
   margin: 10px;
   margin-left: -1rem;

}

nav ul li:hover:not(.ipt) {
  letter-spacing: 1.5px;
  transition: all ease 0.5s;
  background-color: rgb(68, 33, 33);
  cursor: pointer;
}

#hero-sec {
  background-image: url(28xp-shoes-09-superJumbo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
}

.hero-text {
  background-color: rgba(0, 0, 0, 0.501);
  color: white;
  padding: 1rem;
  width: 60%;
  top: 30%;
  position: relative;
  left: 10%;
}

#products {
  background-color: rgb(224, 230, 230 ,0.1);
  padding: 50px;
}

.product-content {
  background-color: rgb(105, 107, 107,0.3);
  padding: 25px;
}
h2 {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 10px;
}
.product img {
  height: 150px;
  width: 150px;
  gap: 10px;
}
.product {
  display: flex;
  gap: 10px;
}
.product div {
  background-color: rgb(93, 94, 95);
  color: white;
  padding: 2px;
}

.about-sec {
  background: linear-gradient(to right, rgb(109, 107, 107), rgb(13, 12, 12));
  display: flex;
  color: rgb(189, 185, 185);
}
.about-data {
  display: flex;
  margin: 50px 100px;
  padding: 100px;
  background: linear-gradient(to right, rgb(15, 15, 15), rgb(230, 100, 36));
  justify-content: space-between;
  box-shadow: 0 0px 10px rgb(159, 158, 158);
}
.about-img img {
  height: auto;
  max-width: 50%;
  border-radius: 50%;
  transform: rotate(-10deg);
  float:right;
  box-shadow: 0 10px 10px black;
  margin-top: 50px;
 
  
 
}
.about-text{
    padding: 50px;
    background: rgba(84, 27, 27, 0.25);
box-shadow: 0 8px 32px 0 rgba(187, 191, 240, 0.37);
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba(55, 16, 16, 0.18);
}
.about-text p{
    text-wrap:pretty ;
    margin: 1rem auto;

}

